<h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p>

<%= render 'layouts/error_messages',model: @user %>
<%= form_for @user do |f| %>
<%= f.label :name, "Name" %><br>
<%= f.text_field :name %><br>
<%= f.label :email, "Email" %><br>
<%= f.text_area :email %><br>
<%= f.submit "Update", :disable_with => '送信ing...' %><br>
<% end %>