<div class="row">
	<div class="col-12 clearfix">
		<%= link_to edit_user_path(@user) do %>
		<%= attachment_image_tag @user, :profile_image, class: 'img-circle pull-left profile-img'%>
		<div class="profile">
			<%= @user.name %><br />
			<%= @user.email %>
		</div>
		<% end %>
	</div>
	<%= render 'posts/list', posts:@posts %>
</div>
