	<div class="row">
		<% @posts.each do |post| %>
		<div class="post">

			<%= link_to user_path(post.user_id) do %>
			<%= post.user.name %><br>
			<% end %>
			<%= attachment_image_tag post, :image, class: 'img-responsive center-block img' %>
			<%= link_to post_path(post) do %>
			<%= post.title %><br>
			<%= post.body %><br>
			<% end %>
			<% if current_user.already_liked?(post) %>

			<%= link_to post_likes_path(post), method: :delete do %>
			<i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
			<% end %>

			<% else %>

			<%= link_to post_likes_path(post), method: :post do %>
			<i class="fa fa-heart" aria-hidden="true" style="color: grey;"></i>

			<% end %>
			<% end %>

		</div>
		<% end %>
	</div>