<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>

<% @posts.each do |post| %>
<div>
	<%= attachment_image_tag post, :image, style: 'max-height: 300px; width: 50%; object-fit: cover' %>
</div>
<%= link_to user_path(post.user_id) do %>
<%= post.user.name %><br>
<% end %>

<%= link_to post_path(post) do %>
<%= post.title %><br>
<%= post.body %><br>
<% end %>
<% end %>