	<%= @posts.each do |post| %>
	<div class="post">
		<div class="user-name">
			<%= link_to user_path(post.user_id) do %>
			<%= post.user.name %><br>
			<% end %>
		</div>
		<div class="post-content">
			<div class="pic">
				<%= attachment_image_tag post, :image %>
			</div>
			<%= link_to post_path(post) do %>
			<div class="title">
				<%= post.title %><br>
			</div>
			<div class="body">
				<%= post.body %><br>
			</div>
			<% if current_user.already_liked?(post) %>

			<%= link_to post_likes_path(post), method: :delete do %>
			<i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
			<% end %>

			<% else %>

			<%= link_to post_likes_path(post), method: :post do %>
			<i class="fa fa-heart" aria-hidden="true" style="color: grey;"></i>
			<% end %>

			<% end %>
			<% end %>
		</div>
	</div>

	<% end %>
