	<%= @posts.each do |post| %>
	<div class="post">
		<div class="user-name">
			<%= link_to user_path(post.user_id) do %>
			<%= post.user.name %><br>
			<% end %>
		</div>
		<div class="post-content">
			<div class="pic">
				<%= attachment_image_tag post, :image %>
			</div>
			<%= link_to post_path(post) do %>
			<div class="title">
				<%= post.title %><br>
			</div>
			<div class="body">
				<%= post.body %><br>
			</div>
			<% end %>
		</div>
	</div>
	<% end %>
