<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>
<div>
	<%= attachment_image_tag @post, :image, style: 'max-height: 300px; width: 50%; object-fit: cover' %>
</div>
<%= @post.title %>
<%= @post.body %>
<h3>いいね件数: <%= @post.likes.count %></h3>

<% if current_user.already_liked?(@post) %>

<%= link_to post_likes_path(@post), method: :delete do %>
<i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
<% end %>

<% else %>

<%= link_to post_likes_path(@post), method: :post do %>
<i class="fa fa-heart" aria-hidden="true" style="color: white;"></i>
<% end %>

<% end %>

<h2>いいねしたユーザー</h2>
<% @post.liked_users.each do |user| %>
<li><%= user.email %></li>
<% end %>
<%= link_to @user.name, user_path(@user) %>


<%= link_to "edit", edit_post_path(@post) %>
<%= link_to "delete", post_path, method: :delete %>