<!DOCTYPE html>
<html>
<head>
	<title>TweetApp</title>
	<%= csrf_meta_tags %>
	<%= csp_meta_tag %>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<script src="https://kit.fontawesome.com/3ec4fd4f03.js" crossorigin="anonymous"></script>
</head>

<body>
	<header>
		<div class="container">
			<div class="row">
				<div class="col-md-2">
					<% if user_signed_in? %>
					<li class="btn btn-success">
						<%= link_to "TWEET", posts_path %>
					</li>
						<%= form_with url: users_search_path, method: :get, local: true do |f| %>
						<%= f.text_field :name %>
						<%= f.submit :search %>
						<% end %>
				</div>
				<div class="col-md-10 text-right">



					<%= link_to "マイページ", user_path(current_user), class: 'btn btn-success' %>
					<%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn btn-success' %>
					<%= link_to "投稿する", new_post_path, class: 'btn btn-success' %>

					<% else %>
					<ul>
						<li>
							<%= link_to "TWEET", homes_top_path %>
						</li>
						<li>
							<%= link_to "新規登録", new_user_registration_path, class: 'btn btn-success' %>
							<%= link_to "ログイン", new_user_session_path , class: 'btn btn-default'%>
						</li>
					</ul>
					<% end %>
				</div>
			</div>
		</div>
	</header><!-- /header -->
	<main>
		<div class="container">
			<% if notice %>
			　　<p class="alert alert-notice"><%= notice %></p>
			<% end %>
			<% if alert %>
			<p class="alert alert-error"><%= alert %></p>
			<% end %>
			<%= yield %>
		</div>
	</main>
	<footer>
		
	</footer>

</body>
</html>
