<!DOCTYPE html>
<html>
<head>
	<title>TweetApp</title>
	<%= csrf_meta_tags %>
	<%= csp_meta_tag %>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
	<header class="sample01">
		<% if user_signed_in? %>
		<li class="header-left">
			<%= link_to "TWEET", posts_path %>
		</li>
		<div class="header-right">
			<div class="dropdown">
				<!-- 切替ボタンの設定 -->
				<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<%= current_user.name %>
				</a>
				<!-- ドロップメニューの設定 -->
				<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
					<div>
						<%= link_to "マイページ", user_path(current_user) %>
					</div>
					<div>
						<%= link_to "ログアウト", destroy_user_session_path %>
					</div>
				</div><!-- /.dropdown-menu -->
			</div><!-- /.dropdown -->
			<%= link_to "投稿する", new_post_path, class: 'btn btn-success' %>
		</div>
		

		<% else %>
		<ul>
			<li class="header-left">
				<%= link_to "TWEET", homes_top_path %>
			</li>
			<li class="header-right">
				<%= link_to "新規登録", new_user_registration_path, class: 'btn btn-success' %>
				<%= link_to "ログイン", new_user_session_path , class: 'btn btn-default'%>
			</li>
		</ul>
		<% end %>
	</header><!-- /header -->
	<% if notice %>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
	<% end %>
	<main>
		<%= yield %>
	</main>
	<footer>
		
	</footer>

</body>
</html>
